body{
  font-family: "Rajdhani", sans-serif;
  font-style: normal;

  /*index_htmlへのリンク*/
  .home{
    font-weight: 500;
    font-size: 100%
  }

  /*Tool の表示*/
  h1{
    font-weight: 700;
    font-size: 200%;
  }

  /*各種ツールへのリンク*/
  .link{
    font-weight: 500;
    font-size: 100%;
  }

  /*ツールの説明*/
  .desc{
    font-family: "Noto Sans JP", sans-serif;
    color: #606060; /*灰色*/
    font-weight: 500;
    font-size: 100%
    padding-left: 10%; /*テキストのインデントを設定*/
    margin: 0;
  }

  /*区切り線*/
  hr{
    color: #d0d0d0;
  }
}
